# MongoDB
MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER/
MONGO_DB=Project2
MONGO_COLLECTION_RAW=raw_observations
MONGO_COLLECTION_ENRICHED=enriched_observations
CLICKHOUSE_URL=http://localhost:8123

# Redis
REDIS_URL=redis://localhost:6379
REDIS_TTL_SEC=3600
TEAM_NAME=StocktonWeatherTeam
